.categories {
  &__title {
    position: relative;
    padding-bottom: 70px;
    color: #3c4242;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 33.5px; /* 98.529% */
    letter-spacing: 0.68px;
  }
  &__title::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background-color: #8a33fd;
    left: -20px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
  }
  &__card {
    padding-bottom: 50px;
    position: relative;
    cursor: pointer;

    &-title {
      padding: 15px 0 12px;
      color: #2a2f2f;
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 27.93px; /* 156.25% */
      letter-spacing: -0.715px;
    }
    &-muted {
      cursor: pointer;
      color: #7f7f7f;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 27.93px; /* 208.333% */
      letter-spacing: -0.536px;
      border: none;
      background: none;
    }
    &-body {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
      align-items: center;
    }
  }
  &__card:hover &__card-img {
    animation: opacity 1s ease-in-out;
  }

  @keyframes opacity {
    0% {
      opacity: 5;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 5;
    }
  }

  &__card:hover &__card-icon {
    animation: slide 0.5s ease-in-out;
  }

  @keyframes slide {
    0% {
      left: 0;
    }

    50% {
      left: -20px;
    }

    100% {
      left: 0;
    }
  }
  &__card-icon {
    position: relative;
  }
}
