@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

.header {
  padding: 30px 0;
  &__logo {
    padding-right: 88px;
    position: relative;
    &-svg {
      position: absolute;
      top: 24px;
      left: 35px;
    }
  }

  &__logo::after {
    content: '';
    width: 90px;
    height: 0.5px;
    position: absolute;
    top: 28px;
    display: block;
    background-color: #3c4242;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    &-links {
      display: flex;
      column-gap: 40px;
      align-items: center;
    }
    &-link {
      color: #807d7e;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-link:hover {
      color: black;

      transition: 0.5s ease;
      font-weight: 700;
    }
  }
  &__right {
    display: flex;
    &-search {
      margin-right: 76px;
      display: flex;
      padding: 12px 76px 12px 20px;
      border-radius: 8px;
      background: #f6f6f6;
      align-items: center;
    }
    &-links {
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
    &-link {
      color: #807d7e;
      font-size: 16px;
      font-weight: 400;
      background-color: #f6f6f6;
      padding: 12px;
      border-radius: 8px;
    }
    &-link:hover {
      color: black;
    }
  }
  &__search-text {
    font-family: 'Nunito Sans', sans-serif;
    color: #807d7e;
    font-size: 16px;
    font-weight: 400;
  }
  &__lupa {
    color: #807d7e;
    padding-right: 12px;
  }
}
