.product {
  &__row {
    display: flex;
    column-gap: 75px;
  }
  &__left-img {
    width: 520px;
  }
  &__right {
    &-sizes {
      padding-bottom: 40px;
      display: flex;
      column-gap: 20px;
    }
    &-title {
      padding: 87px 0 35px;
      color: #3c4242;
      font-family: 'Montserrat', sans-serif;
      font-size: 34px;
      font-weight: 600;
      line-height: 140%; /* 47.6px */
      letter-spacing: 0.68px;
    }
    &-sizes-title {
      padding: 35px 0 25px;
      color: #3f4646;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 600;
    }
    &-sizes-size {
      cursor: pointer;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3c4242;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 500;
      border: 1.5px solid #bebcbd;
      border-radius: 12px;
    }
    &-sizes-size:hover {
      background-color: #3c4242;
      //color:#FFF;
    }
    &-colors {
      display: flex;
      &-title {
        padding-bottom: 25px;
        color: #3f4646;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
      }
      &-outer-line {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border-width: 1px;
        border-color: transparent;
        border-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
      }
      &-inner {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        display: block;
        border: 1px solid gray;
      }
    }
    &-btns {
      display: flex;
      column-gap: 25px;
      padding: 36px 0 37px;
      &-btn {
        cursor: pointer;
        display: flex;
        column-gap: 12px;
        color: #fff;
        //text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 40px;
        border-radius: 8px;
        background: #8a33fd;
        border: none;
      }
      &-price {
        color: #3c4242;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
        border: 1px solid #3c4242;
        border-radius: 8px;
        padding: 12px 40px;
      }
    }
  }
}

.swiper-button-prev {
  color: lightgray; /* Цвет стрелки "назад" */
}

.swiper-button-next {
  color: lightgray; /* Цвет стрелки "вперед" */
}
