.women {
  .products__right-desc {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  &__right {
    width: 80%;
    &-text {
      color: #3f4646;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: 600;
    }
    &-span {
      display: flex;
      column-gap: 25px;
    }
  }
  .new-color {
    color: #8a33fd;
  }
  &__right-products {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
  }
  &__row {
    display: flex;
    column-gap: 50px;
  }

  .aside {
    width: 20%;
    height: 500px;
    border: 1px solid #bebcbd;
    &-title {
      position: relative;
      padding: 20px 30px 60px;
      display: flex;
      justify-content: space-between;
      color: #807d7e;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.44px;
    }
    &-title::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #bebcbd;
      top: 70px;
      right: 0px;
    }
    &-row {
      padding: 0px 33px 18px;
      color: #8a8989;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
    &__price {
      padding: 20px;
      &-box {
        padding: 0 0 30px;
      }
      &-values {
        color: #3c4242;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 500;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
      }
      &-slider {
        width: 100%;
        height: 2px;
        background-color: #cdd9ed;
        border-radius: 8px;
      }
      &-slider .thumb {
        width: 13px;
        height: 13px;
        cursor: grab;
        background: #fff;
        border-radius: 50%;
        border: 2px solid blue;
        top: -5px;
      }
    }
  }
}
.track-1 {
  background-color: blue;
}
